PORT=3300
SECRET_KEY="your_secret_key" 
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_REDIRECT_URL = "http://localhost:3300/api/auth/google/callback"

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=auth_db
DB_NAME=auth_db
DB_PORT=5432
DB_SSLMODE=disable